.main-banner_case {
  background: url("img/case-banner.jpg") no-repeat;
  background-size: 100% 100%;
  height: 500px;
  padding: 170px 0 0 0;
  margin: 76px 0 0 0; }
  .main-banner_case .main-banner_case_used {
    max-width: 870px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 20px 13px 24px 273px; }
    .main-banner_case .main-banner_case_used .back-to {
      font-size: 18px;
      letter-spacing: 0.7px;
      display: flex;
      align-items: flex-start;
      color: #fff; }
      .main-banner_case .main-banner_case_used .back-to .img-wrapper {
        width: 20px;
        height: 16px;
        display: inline-block;
        margin: 0 10px 0 0; }
    .main-banner_case .main-banner_case_used button {
      font-size: 16px;
      padding: 11px 0 10px;
      border: 3px solid #fff;
      color: #fff;
      border-radius: 7px;
      width: 242px;
      display: inline-block;
      background-color: transparent;
      cursor: pointer; }
    .main-banner_case .main-banner_case_used h2 {
      font-size: 36px;
      color: #fff;
      text-align: left;
      letter-spacing: 2.6px; }

.main-banner_case_used button:not(:last-child) {
  margin: 0 18px 0 0; }

.column-wrapper {
  background-image: linear-gradient(to right, #10a3e0 50%, #fff 50%); }

.column-wrapper .container {
  display: flex;
  justify-content: center; }
  .column-wrapper .container .column-left,
  .column-wrapper .container .column-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1; }
    .column-wrapper .container .column-left p,
    .column-wrapper .container .column-right p {
      line-height: 1.41;
      letter-spacing: 0.5px; }
  .column-wrapper .container .column-left {
    background-color: #10a3e0;
    padding: 44px 22px; }
    .column-wrapper .container .column-left h2 {
      color: #fff;
      text-align: left;
      font-size: 32px; }
    .column-wrapper .container .column-left p {
      opacity: 0.6;
      color: #fff; }
  .column-wrapper .container .copyright span {
    color: #fff;
    display: block;
    line-height: 1.41;
    letter-spacing: 0.5px; }
  .column-wrapper .container div.copyright div.img-wrapper {
    width: 92px;
    height: 95px;
    margin: 0 0 26px 0;
    box-shadow: none; }
  .column-wrapper .container .column-right {
    padding: 48px 0 48px 31px; }
    .column-wrapper .container .column-right span {
      display: block;
      font-style: italic;
      letter-spacing: 0.5px;
      text-align: center;
      margin: 16px 0 0 0; }
    .column-wrapper .container .column-right .img-wrapper {
      max-width: 450px;
      height: 250px;
      box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.19); }
    .column-wrapper .container .column-right ul {
      padding: 0 0 0 32px; }
    .column-wrapper .container .column-right ul li {
      list-style: disc;
      line-height: 1.41;
      letter-spacing: 0.5px; }
  .column-wrapper .container .column-right .copyright {
    display: none;
    background-color: #10a3e0; }

@media screen and (max-width: 1024px) {
  .main-banner_case {
    padding: 80px 0 0 0;
    background-size: auto; }

  .main-banner_case .main-banner_case_used {
    padding: 16px 15px 41px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
    .main-banner_case .main-banner_case_used .back-to {
      font-size: 15px; }
      .main-banner_case .main-banner_case_used .back-to .img-wrapper {
        width: 18px;
        height: 14px; }
    .main-banner_case .main-banner_case_used h2 {
      font-size: 24px;
      margin: 46px 0 41px; }
    .main-banner_case .main-banner_case_used button:not(:last-child) {
      margin: 0 18px 15px 0; }

  .column-wrapper {
    background-image: none; }
    .column-wrapper .container {
      padding: 0;
      flex-wrap: wrap; }
      .column-wrapper .container .column-left h2,
      .column-wrapper .container .column-right h2 {
        text-align: center; }

  .column-wrapper .container .column-right .img-wrapper {
    margin: 0 auto;
    height: 164px; }

  .column-left .copyright {
    display: none; }

  .column-wrapper .container .column-right .copyright {
    display: block;
    padding: 38px 44px 19px; }
    .column-wrapper .container .column-right .copyright .img-wrapper {
      width: 58px;
      height: 60px; }
    .column-wrapper .container .column-right .copyright span {
      text-align: left; }

  .column-wrapper .container .column-left,
  .column-wrapper .container .column-right {
    padding: 0;
    flex: auto; }
    .column-wrapper .container .column-left .content,
    .column-wrapper .container .column-right .content {
      padding: 37px 15px; }
    .column-wrapper .container .column-left h2,
    .column-wrapper .container .column-right h2 {
      font-size: 22px; } }
@media screen and (max-width: 760px) {
  .main-banner_case {
    height: 100vh;
    background-size: cover; }

  .column-wrapper .container .column-left p,
  .column-wrapper .container .column-right p {
    font-size: 17px; } }

/*# sourceMappingURL=case.css.map */
